# Python
__pycache__/
*.py[cod]
*$py.class
.env
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Project specific
*.pkl
*.parquet